@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin scrollbar for every scrollable */
* {
    /* Reference: https://css-tricks.com/almanac/properties/s/scrollbar-gutter/ */
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: #374151 #1f2937;
}

:root {
    --gap: 2rem;
}
