@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Base button style */
    .btn {
        @apply flex flex-row gap-2 py-2 px-4 w-fit rounded-sm active:shadow-none active:-translate-x-[2px] active:translate-y-[2px]
            transition-all duration-100 ease-in-out;
    }
    /* Modifier */
    .btn-primary {
        @apply bg-blue-700 hover:bg-blue-800 text-gray-100 shadow-[-4px_4px_0px_black] border-2 border-blue-400/30;
    }
    /* Modifier */
    .btn-secondary {
        @apply bg-pink-700 hover:bg-pink-800 text-gray-100 shadow-[-4px_4px_0px_black] border-2 border-pink-400/50;
    }

    .inpt {
        @apply bg-inherit p-2 border-2 border-white/25 rounded-sm transition-all duration-300
        outline outline-2 outline-blue-500/0 focus:outline-blue-500/100 placeholder:text-white/20;
    }
}

/* Thin scrollbar for every scrollable */
* {
    /* Reference: https://css-tricks.com/almanac/properties/s/scrollbar-gutter/ */
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: #374151 #1f2937;
}

/* https://stackoverflow.com/a/59785731/8557499 */
/* Overflow hidden breaks sticky positioning, use clip to fix: https://stackoverflow.com/a/74462258/8557499 */
body,
html {
    overflow-x: clip;
}

:root {
    --gap: 3rem;
}

/* Media query, on mobile, make it 7rem */
@media (max-width: 640px) {
    :root {
        --gap: 7rem;
    }
}
